
<div *ngIf="this.gameState.stage === 1">
  <app-title-screen [localGameState]=gameState></app-title-screen>
</div>

<div *ngIf="this.gameState.stage === 2">
  <tavern [localGameState]=gameState [globalBuffService]=globalBuffService></tavern>
</div>

<div *ngIf="this.gameState.stage === 3">
  <battle-screen [localGameState]=gameState [globalBuffService]=globalBuffService></battle-screen>
</div>

<div *ngIf="this.gameState.stage === 4">
  <battle-screen-boss [localGameState]=gameState [globalBuffService]=globalBuffService></battle-screen-boss>
</div>

<div *ngIf="this.gameState.stage === 5">
  <app-select-quest [localGameState]=gameState [globalBuffService]=globalBuffService></app-select-quest>
</div>

<div *ngIf="this.gameState.stage === 6">
  <app-battle-screen-quest [localGameState]=gameState [globalBuffService]=globalBuffService></app-battle-screen-quest>
</div>

<div *ngIf="this.gameState.stage === 7">
  <app-score-screen [localGameState]=gameState></app-score-screen>
</div>
